*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(191, 238, 238);
}

.header-container{
    background-color: rgb(27, 27, 69);    
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 20px;
    padding: 5px;
}

.header-container h2{
    text-decoration: none;  
    margin-left: 15%;
    color: rgb(191, 238, 238);
}

.login-part{
    margin-right: 5%;
}
.header-container a{
    color: white;
    text-decoration: none;
}

.login-link{
    margin-right: 30%;
    margin-top: 30px;
}

.header-container.logged-in .login-part {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
}

.header-container.logged-in .login-part > * {
    margin-right: 20px;
}

.cart-items{
    position: relative;
}

span{
  position: absolute;
  height: 25px;
  width: 25px;
  font-size: 19px;
  background-color: blue;
  border-radius: 50%;
  bottom: -10px;
  right: -35%;
  color: white;
  text-align: center;
}


/* Login and register pages */

.info-container{
    position: absolute;
    width: 100%;
    background-color: rgb(27, 27, 69); 
    height: 100%;
}

.info-form{
    margin: auto;
    margin-top: 5%;
    width: 60%;
    /* height: 50%; */
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
}

.info-form input{
    display: block;
    width: 80%;
    margin: auto;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}


/* Home page */

.home-idea{
    background-image: url("./images/laptops.jpg");
    height: 600px;
    background-size: cover;
}

.home-idea h2{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(260px);
    font-size: 45px;
    font-weight: bold;
    color: rgb(33, 130, 168);
    overflow-wrap: break-word;
}

.product-row{
    display: flex;
}

.product-card{
    margin: auto;
    margin-top: 40px;
    width: 25%;
    padding: 5px;
    border: 2px solid rgb(30, 30, 69);
    border-radius: 20px; 
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.product-card:hover{
    transform: scale(1.2);
}
.product-card-body{
    width: 80%;
    margin: auto;
}

.product-card-body p,h3{
    display: inline;
}

.product-card-body h3{
    font-size: 20px;
}

.product-card-body p{
   margin-left: 50%;
   font-size: 24px;
   font-weight: 400;
}

.product-card button{
    border-radius: 10px;
    width: 60%;
    height: 35px;
    font-size: 25px;
    background-color: transparent;
    border: 2px solid rgb(30, 30, 69);
    font-weight: 500;
    margin-top: 20px;
}

.product-card button:hover{
    background-color: rgb(33, 33, 75);
    color: white;
}

.product-card a{
    margin-left: 20px;
    font-size: 30px;
}

.favorite {
    color: red;
  }


  /* favourite page */
 .favourite-container {
    padding: 20px;
    text-align: center;
  }
 
  .favourite-container h2{
    font-size: 30px;
    margin-top: 40px;
  }
  
.favourite-container  .product-container {
    display: flex;
    overflow-x: auto; 
    width: 80%;
    margin: auto;
  }
  
  .favourite-container  .product-card {
    min-width: 30%; /* Set a minimum width */
    height: 200px;
    border: 2px solid rgb(133, 19, 19);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 150px;
    display: flex;
    /* justify-content: space-evenly; */
  }
  
  .favourite-container .product-card img {
    width: 50%;
    height: auto;
  }
  
  .favourite-container .product-details {
    padding: 10px;
  }
  
  .favourite-container .product-name {
    font-weight: bold;
    font-size: 30px;
  }
  
  .favourite-container .product-price {
    margin-top: 100px;
    font-size: 30px;
    color: #888;
  }

  .favourite-first p{
    margin-top: 100px;
    font-size: 30px;
  }
  
  .favourite-first button{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
  }

  .favourite-first button:hover{
    background-color: rgb(22, 22, 102);
    color: wheat;
  }